*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: teal;
}
.container{
    width: 1200px;
    background: rgb(251, 254, 254);
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
    
}
.from .container h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;
    color: aqua;
    background: black;
    padding: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    margin-left: 20px;
    margin-top: 15px;
  
}
.row{
    display: flex;
    gap: 40%;
}
.from input{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 2px ;
 
}
.from input::placeholder{
    font-size: 12px;
    margin-left: 15px;
}
.from label{
    color: rgb(6, 11, 0);
    font-size: 20px;
    font-weight: 500;

}
.row h3{
    background: grey;
    padding: 6px ;
    border-radius: 2px;
}

.from p{
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
}