@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
 padding: 10px 0;
    background: rgb(3, 77, 77);
}
.container{
    width: 1320px;
    margin: auto;
    
    
}
header h2{
font-size: 34px;
font-weight: 600;
color: white;
margin-top: -40px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 3px 5px;
letter-spacing: 2px;
display: block;

}
header marquee{
    color: aliceblue;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
    margin-top: -3px;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
}
/* nav start */
header nav{
    

}

header nav .navbar-nav .nav-item .nav-link{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
    justify-content: space-between;
    color: rgb(14, 0, 0);
}

    header nav .navbar-nav .nav-item .nav-link:hover{
        
        border-bottom: 1px solid red;
        transition: 1s;

    
    }

/* nav end */
/* banner */
#banner{
    background: url(./bbhidm\ banner.jpg);
height:550px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
} 
#banner .text{
    position: relative;
}
#banner .text h3{
    font-size: 20px;
    position: absolute;
    top: 190px;
    left: 5px;
    font-weight: 600;

    padding: 10px 0;
}
#banner .text p{
     font-size: 14px;
    position: absolute;
    top: 220px;
    left: 150px;
    font-weight: 400;
color: black;
    padding: 10px 0;
}

#banner .text a{
    font-size: 12px;
    position: absolute;
    top: 260px;
    left: 190px;
    font-weight: 400;
 background: transparent;
    padding: 10px 0;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    text-decoration: none;
}

#banner .text a:hover{
    font-size: 12px;
    position: absolute;
    top: 260px;
    left: 190px;
    font-weight: 400;
    color: white;
 background: transparent;
    padding: 10px 0;
    padding: 4px 8px;
    border: 2px solid rgb(13, 237, 13);
    border-radius: 3px;
    transition: 1s;
    background: black;
}


/* banner */

/* location tart */
#location {
    width: 100%;
    background: rgb(111, 92, 239);
   

}
#location h2{
    background: hotpink;
    font-size: 28px;
    font-weight: 600;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border-radius: 3px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px  2px ;


}
#location .container iframe{
    width: 100%;
    height: 250px;
    margin: auto;
    border-radius: 10px;


}



/* location end */


/* ডিুপেহড়ট ‍ুটৃপট */

#description {
    width: 100%;
    background: wheat;
}
#description h2{
    text-align: center;
    margin-top: 10px;
    background: rgb(135, 10, 10);
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(72, 255, 0);
    font-family: "Noto Sans Bengali", sans-serif;

}
#description p{
    padding: 3px;
    font-size: 16px;
    color: black;
    line-height: 25px;
}
#description a{
    font-size: 14px;
    color: rgb(238, 12, 129);
    gap: 10px;
    text-decoration: none;
    font-weight: 600;

}
#description a:hover{
    font-size: 14px;
    color: rgb(26, 15, 228);
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    background: transparent;

    
}
#description .col-lg-4 img{
    height: 300px;
    width:400px ;
    margin-left: 15px;
    padding: 5px 8px;

}
#description .col-lg-4 img:hover{
    height: 300px;
    box-shadow: 1px  3px 3px 3px ;



}
#description .row {
    display: flex;
 

}

#description .col-lg-4{
    border: 1px solid black;
    margin-left: 0px;
    padding: 2px;
    
    margin-bottom: 5px;
   box-shadow: -16px 10px 6px 0px rgba(22,1,1,0.43) inset;
-webkit-box-shadow: -16px 10px 6px 0px rgba(22,1,1,0.43) inset;
-moz-box-shadow: -16px 10px 6px 0px rgba(22,1,1,0.43) inset;
   }
#description .col-lg-4 .class-one h4{
    text-align: center;
    margin-top: 10px;
    background: rgb(205, 195, 6);
    padding: 8px 0;
    width: 100%;
    font-weight: 600;
}
#description .col-lg-4 .class-one p{
    font-size: 12px;
    padding: 2px;
    text-align: center;
    width: 100%;
    margin-top: -20px;
    text-shadow: 0px 5px 1px rgba(252,11,11,0.81);

       }
       






/* descriptionend */


/* aboutstart */

#about {
    width: 100%;
    margin-top: 20px;
    background: black;
    
    
}
#about img{
    height: 200px;
    margin-bottom: 5px;
}
#about .row h2{
    color: rgb(230, 229, 237);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    background: rgb(198, 14, 14);
    margin-bottom: 5px;
    position:relative ;
    box-shadow:2px 2px 2px 2px  gold;
    display: inline-block;
}
/* about end */

/* founder start */
#founder{
    background: wheat;
    text-align: center;
    margin-bottom: 10px;

}

#founder h3{
      text-align: center;
    margin-top: 8px;
    background: rgb(135, 10, 10);
    color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    padding: 15px 0;
    letter-spacing: 2px;
 box-shadow: 2px 3px 2px 3px black;
    font-family: "Noto Sans Bengali", sans-serif;

}
#founder p{
      text-align: center;
    margin-top: -35px;
  
  font-size: 14px;
    font-weight: 400;
    padding: 8px 0;
   
color: aquamarine;
    font-family: "Noto Sans Bengali", sans-serif;

}
#founder img{
    width: 400px;
    height: 450px;
    box-shadow: 2px 2px 2px 2px;
}
#founder h4{
margin-top: 10px;
font-size: 20px;
font-weight: 600;

}
#founder h5{
    font-size: 14px;
    font-weight: 400;
    color: rgb(62, 4, 4);
}

#founder a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(28, 2, 223);
    font-weight: 600;
  
    margin-bottom: 20px;
}
#founder a:hover{
    font-size: 12px;
    text-decoration: none;
    color: rgb(244, 22, 22);
   margin-bottom: 20px;

}
/* founder end */

/* teacher */
#teacher{
    display: flex;
    width: 100%;
    background: skyblue;
    text-align: center;
}
#teacher h2{
    text-align: center;
    font-weight: 600;
    background: rgb(150, 246, 6);
    padding: 8px 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 2px 3px 2px 2px ;
    text-shadow: 2px 3px 2px 2px white ;
}

#teacher .teacher-top{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 3px 2px 3px 2px rgb(91, 4, 4);

}
#teacher .teacher-top h4{
    font-weight: 500;
    color: black;
    margin-top: 8px;
}
#teacher .teacher-top p{
    font-size: 14px;
    font-weight: 400;

}
#teacher .teacher-top img{
    width: 400px;
    height: 450px;
}
#teacher .teacher-top a{

    font-size: 12px;
    text-decoration: none;
    color: rgb(122, 7, 253);
    font-weight: 600;
      }

      #teacher .teacher-top a:hover{

    font-size: 12px;
    text-decoration: none;
    color: rgb(245, 68, 3);
    font-weight: 600;
    background: fixed;
    background: whitesmoke;
    padding: 3px;
      }
#teacher .assestant{
   
    border: 1px solid rgb(1, 21, 1);
background: rgb(176, 240, 176);
box-shadow: 3px 2px 3px 2px rgb(113, 5, 5);

} 
#teacher#teacher .assestant p{
 text-align: center;
 font-weight: 500;
 color: rgb(175, 5, 5);
 margin-top: 5px;
 background: rgb(10, 238, 135);
 display: inline-block;
 padding: 5px 5px;
 box-shadow: 2px 2px 2px 2px;



}
#teacher#teacher .assestant ul li{
    line-height: 38px;
    font-size: 20px;
    font-weight: 500;
    list-style: none;

}
#teacher#teacher .assestant ul li a{
    text-decoration: none;
    color: rgb(253, 8, 8);
    font-size: 12px;

}
#teacher#teacher .assestant ul li a:hover{
    text-decoration: none;
    color: rgb(1, 1, 14);
    font-size: 12px;
    background: rgb(240, 232, 232);
    padding: 5px;
    border-radius: 3px;
    
}
#teacher#teacher .assestant ul h3 a{
    
    color: rgb(6, 0, 14);
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}
#teacher#teacher .assestant ul h3 a:hover{
    
    color: rgb(10, 24, 224);
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}



/* teacher end */

/* video start */
#video{
    width: 100%;
    display: flex;
    gap: 0px;
background: rgb(97, 97, 224);
}

#video h2{
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
    
    width: 100%;
    color: chartreuse;
    background: rgb(102, 28, 28);
    padding: 8px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(252, 245, 245);

}
#video  iframe{
    width: 100%;
margin-bottom: 5px;
box-shadow: -1px 2px 2px 4px rgba(221,27,27,1);
-webkit-box-shadow: -1px 2px 2px 4px rgba(221,27,27,1);
-moz-box-shadow: -1px 2px 2px 4px rgba(221,27,27,1);
}
/* videoend */


/* gallary part */
#gallary{
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 5px;
    background:#349eeb ;

}
#gallary .row{
  
}

#gallary  h2{
    text-align: center;
    background: wheat;
    margin-top: 3px;
    font-family: 600;
    padding: 8px 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;


}
#gallary img{
    width: 100%;
    margin-top: 5px;
    box-shadow: 1px 2px 1px 2px rgb(237, 233, 233);


}
/* gallary end */

/* audio */
#audio{
    width: 100%;
    background-color: aqua;
   
}
#audio h2{
    text-align: center;
    background: black;
    color: #34b1eb;
    padding:8px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px ;
    margin-top: 5px;

}
#audio iframe{
    border-radius: 3px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px 2px ;
}

/* audio end */

/* cart start */
#cart .card-item {
    width: 100%;
    border: 1px solid rgb(3, 36, 3);
    border: 1px solid black;
    padding: 5px;
    margin-bottom:5px ;
}


#cart h3 {
    text-align: center;
    font-weight: 600;
    color: #34ebe1;
    background: rgb(47, 69, 3);
    margin-top: 5px;
    padding: 8px;
    font-family: 600;
    
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;

}

#cart .card-item img {
    width: 100%;
   
}
#cart .card-item img:hover{
    padding: 5px;
     
    

}
#cart .card-item h4{

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    background: #06c6bc;

}
#cart .card-item p{
    font-size: 16px;
    margin-top: 0px;
    text-align: left;
    padding: 2px 4px;
    
}
/* cart end */

/* information part */
#information{
    width: 100%;
    background: #c4abf4;
    


}
#information h2{
    color: antiquewhite;
    background: #349eeb;
    text-align: center;
    padding: 8px 0;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px black ;
    border-radius: 5px;
    margin-top: 5px;
    border-bottom-right-radius: 28px;

}
#information .inf-item {
    width: 100%;
     border: 1px solid black;
     padding: 3px;
     gap: 3px;
     margin-bottom: 3px;
}

#information .inf-item h3{
    text-align: left;
    color: rgb(246, 7, 43);
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 15px;

}
#information .inf-item ul{
font-size: 14px;

list-style:disc;

}
#information .inf-item ul li a {
     text-decoration: none;
    text-transform: capitalize;

    line-height: 30px;
    color:rgb(10, 1, 1);
    
}
#information .inf-item ul li a:hover {
     text-decoration: none;
    text-transform: capitalize;

    line-height: 30px;
    color:rgb(6, 26, 251);
    background-color: azure;
    border-radius: 5px;
    padding: 2px 3px;
    
}



/* informion end */

/* footer part */

#footer {
    background: black;

}
#footer h2{

    color: white;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
    background: rgb(47, 3, 3);
    box-shadow: 3px 2px 3px 2px white;
    padding: 8px 9px;
    border-radius: 2px;
    border-bottom-right-radius: 20px;


}
#footer .footer-item ul{
    list-style: none;
}
#footer .footer-item ul li{
    margin-left: 10px;
}
#footer .footer-item ul li a{
    text-decoration: none;
    
    line-height: 35px;
    letter-spacing: 2px;

}

#footer .footer-item ul li a i{
   
  padding: 10px 8px;
  font-size: 20px;
    

    

}
#footer .footer-item ul li a:hover{
    text-decoration: none;
    line-height: 25px;
    letter-spacing: 2px;
    color: #34ebe1;


}





/* footer end */