@media(min-width:320px) and (max-width:575px){

body {

	background-color: #1491ec;
	border-radius:10px ;
}
header h2 {
	font-size: 14px;
	margin-top: -18px;
    letter-spacing: 0px;

}
header img {
width: 15px;
    height: 15px;

	margin-left: 1px;
	margin-top: -5px;
	
}
.navbar-nav {

	line-height: 11px;
	
	background-color: #008050;
	border-radius: 10px;
	margin-top: 5px;
}
.navbar-toggler {

	background-color: #007cff;
	height: 37px;
	width: 54px;
	margin-top: -6px;
	font-size: 21px;
}
.my-2 {
	margin-top: 2px;
	margin-bottom: 1px;
	font-size: 15px;

}
.form-control {
	

	padding: 2px 0;
	font-size: 12px;
	font-weight: 400;
	
	
}
#description .col-lg-4 img {
	height: 174px;
	width: 306px;
	margin-left: 1px;
	

}
#description .col-lg-4 .class-one h4 {

	margin-top: -1px;
	background: rgb(246, 19, 93);
	padding: 6px 0;
	width: 99%;font-size: 16px;
	border-radius: 5px;
}
#description a {
	font-size: 8px;
	color: rgb(131, 4, 69);
	
}
#description p {
	
	font-size: 12px;
	
	line-height: 20px;
}
#founder img {
	width: 201px;
	height: 229px;
	box-shadow:none;
}
#founder h3 {
	
	margin-top: 2px;
	
	padding: 4px 0;
	letter-spacing: 0px;
	
	height: 33px;
	font-size: 14px;
	width: 100%;
}
#founder p {
	margin-top: -34px;
	font-size: 11px;
	padding: 13px 0;
	color: #03c9f7;
	
}
#founder h4 {
	margin-top: 8px;
	font-size: 11px;

}
#founder h5 {
	font-size: 12px;
	font-weight: 400;
	color: rgb(8, 106, 106);
}
#founder a {
	font-size: 11px;
    font-weight: 600;
}
#teacher .teacher-top img {
	width: 201px;
	height: 229px;
}
#teacher h2 {
	padding: 3px 0;
	font-size: 15px;
}
#teacher .teacher-top h4 {
	
	margin-top: 5px;

	font-size: 13px;
}
#teacher .teacher-top p {
	font-size: 12px;
	font-weight: 400;
}
#teacher#teacher .assestant p {
	
	margin-top: -7px;
	background: rgb(10, 238, 135);
	
	padding: 0px;
	
	width: 100%;
	height: 34px;
	font-size: 12px;
}
#teacher#teacher .assestant ul li {
	line-height: 18px;
	font-size: 14px;

}